---
title: Data Cascade
description: Highest to lowest-priority data cascade
layout: base
tags: [item]
---

<ul>
  {% for i in elements[5].items %}
  <li><a href="{{ i.link }}">{{ i.id }}</a>: {{ i.idDescription }}</li>
  {% endfor %}
</ul>